<!DOCTYPE html>
<html>
	<head>
		<title>于庭的個人網頁</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="B.html" class="logo"><strong>Eva</strong> <span>by HTML</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="./group.html">回到組頁</a></li>
							<li><a href="B1.html">簡  介</a></li>
							<li><a href="B2.html">經  歷</a></li>
							<li><a href="B3.html">分  享</a></li>
							<li><a href="B4.html">語法解釋</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#one" class="button primary fit">開始參觀</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<!--影片滾軸-->
  <p align="center" class="animated bounceInDown"><marquee direction="right" height="160" scrollamount="5" behavior="alternate">
  <img src=".\runimages\html19100101.jpg" alt="01 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100102.jpg" alt="02 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100103.jpg" alt="03 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100104.jpg" alt="04 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100105.jpg" alt="05 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100106.jpg" alt="06 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100107.jpg" alt="07 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100108.jpg" alt="08 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100109.jpg" alt="09 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100110.jpg" alt="10 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100111.jpg" alt="11 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100112.jpg" alt="12 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100113.jpg" alt="13 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100114.jpg" alt="14 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100115.jpg" alt="15 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100116.jpg" alt="16 Icon" style="width:150px;height:150px;">
  <img src=".\runimages\html19100117.jpg" alt="17 Icon" style="width:150px;height:150px;">
  </marquee>
  <!--影片滾軸-->
							</header>
							<div class="content">
							<p class="animated shake" style="animation-duration: 5s ;animation-iteration-count:1"><font size=6 face="微軟正黑體">歡迎來到于庭的個人網站~</font></p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly"><font size=4 face="微軟正黑體">開始參觀</font></a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic001.png" alt="" />
									</span>
									<header class="major">
										<h3><a href="B1.html" class="link"><font size=7 style="background-color:#48D1CC" color="#000000" face="微軟正黑體">簡  介</font></a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic002.png" alt="" />
									</span>
									<header class="major">
										<h3><a href="B2.html" class="link"><font size=7 style="background-color:#9370DB" color="#000000" face="微軟正黑體">經  歷</font></a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic003.png" alt="" />
									</span>
									<header class="major">
										<h3><a href="B3.html" class="link"><font size=7 style="background-color:#FA8072" color="#000000" face="微軟正黑體">分  享</font></a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic004.png" alt="" />
									</span>
									<header class="major">
										<h3><a href="B4.html" class="link"><font size=7 style="background-color:#F4A460" color="#000000" face="微軟正黑體">語法解釋</font></a></h3>
									</header>
								</article>
							</section>
					</div>
					
					
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>信 箱</h3>
										<a href="mailto:0982487732libra@gmail.com">0982487732libra@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>電 話</h3>
										<span>03-350-7001</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>地 址</h3>
										<span>桃園市龜山區德明路5號<br />
										No. 5, Deming Rd., Guishan Dist., Taoyuan<br />
										City 333, Taiwan (R.O.C.)</span>
									</div>
								</section>
							</section>
						</div>
					</section>
					
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/profile.php?id=100004090665098" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/eva_fan_980930/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<FORM align="right"> <p align="center"/p><font size=4 face="微軟正黑體"/font>
								<a href="#top">TOP</a>
							</ul>
						</div>
					</footer>

			</div>

<style type="text/css">* {cursor: url(http://cur.cursors-4u.net/toons/too-11/too1007.ani), url(http://cur.cursors-4u.net/toons/too-11/too1007.png), auto !important;}</style>
<a href="http://www.cursors-4u.com/cursor/2011/11/30/clownfish-finding-nemo-swimming.html" target="_blank" title="Clownfish - Finding Nemo Swimming">
<img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Clownfish - Finding Nemo Swimming" style="position:absolute; top: 0px; right: 0px;" /></a>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>