<!doctype html>
 <html>
 <head>
  <meta charset="utf-8">
  <title>簡  介</title>
 </head>
 
 
 <body style="background-color:powderblue;">
 
  <p align="center" class="animated shake" style="animation-duration: 3s ;animation-iteration-count:1"><b><font size=16 color="#0000e6" face="微軟正黑體">簡&nbsp&nbsp&nbsp&nbsp介</font></b></p>
  <hr color="#FFFFFF" width="17%" >

  <table border="8" cellpadding="0" width="58%" height="90%" align="center" bordercolor="#FFFFFF">
  
  <!--<tr>
  <td colspan=3></td>
  </tr>-->
  
  <tr>
  <td bgcolor="#0000e6"><a href=""><p align="center"><img src=".\images\B101.jpg" width="310" height="280" align="center"></a></td></p>
  <td bgcolor="#0000e6" colspan=3><p align="center"><font size=5 face="微軟正黑體" color="#FFFFFF">
  
<ul>
<li>姓名：范于庭</li>
<li>生日：87/9/30</li>
<li>星座：天秤座</li>
<li>國小：中園國小</li>
<li>國中：明德國中</li>
<li>高中：明德高中</li>
<li>大學：銘傳大學</li></ul>
</tr></font></p>
  
  <tr>
  <td bgcolor="#0000e6" colspan=3><p align="center"><font size=4 face="微軟正黑體" color="#FFFFFF"><ul>
<li>專長：演說、寫作、管樂
<li>興趣：唱歌、電視電影、羽球、下棋</li>
<li>個性：喜歡獨處思考、優柔寡斷、求好心切、注重平衡</li></ul></font></p></td>
 </tr>
  
  <tr>
  <td bgcolor="#0000e6" colspan=3><p align="center"><font size=4 face="微軟正黑體" color="#FFFFFF"><ul>
<p align="center"><關於我的小故事></p>
<li>晴天娃娃：我的名字是于庭，聽起來像是雨停。有次某位朋友跟她的朋友提起我時，對方就脫口而出晴天娃娃！？從此，我有了一個可愛的外號XD</li>
<li>張愛玲：張愛玲，華人現代女性小說家，是我喜歡的作家之一，作品風格華麗悲涼。1920年9月30日出生於上海，真巧跟我同一天生日呢！</li></ul></font></p></td>
 </tr>
  </table>
  <br>
  
  <style type="text/css">* {cursor: url(http://cur.cursors-4u.net/toons/too-11/too1007.ani), url(http://cur.cursors-4u.net/toons/too-11/too1007.png), auto !important;}</style>
<a href="http://www.cursors-4u.com/cursor/2011/11/30/clownfish-finding-nemo-swimming.html" target="_blank" title="Clownfish - Finding Nemo Swimming">
<img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Clownfish - Finding Nemo Swimming" style="position:absolute; top: 0px; right: 0px;" /></a>

   <!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<FORM align="right"> <p align="center"/p><font size=8 face="微軟正黑體"/font>
								<a href="#top">TOP</a>
							</ul>
						</div>
					</footer>
  
  </body>
 </html>