<!doctype html>
 <html>
 <head>
  <meta charset="utf-8">
  <title>經  歷</title>
 </head>
 
 
 <body style="background-color:#dd99ff">
        

  <p align="center" class="animated shake" style="animation-duration: 3s ;animation-iteration-count:1"><b><font size=16 color="#800080" face="微軟正黑體">經&nbsp&nbsp&nbsp&nbsp歷</font></b></p>
  <hr color="#FFFFFF" width="17%">
	  <br>
		
  <table border="8" cellpadding="0" width="45%" height="90%" align="center" bordercolor="#FFFFFF">
  
  <!--<tr>
  <td colspan=3></td>
  </tr>-->

  <tr>
  <td bgcolor="#800080" colspan=3><p align="center"><font size=5 face="微軟正黑體" color="#FFFFFF">
<b><p align="center"><求學經歷></p></b>
<ul>
<li><p>國小：寫作全國聯合盃5級。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp學習過書法和陶笛。</p>
<li><p>國中：管樂社，吹奏上低音號(Baritone)，</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp主要為學校典禮奏樂，以及曾參與結合文創之快閃活動。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp國三畢業時，成為畢業歌領唱之一。</p></li>
<li><p>高中：吉他社，並擔任幹部。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp擔任兩年校用典禮司儀。</p></li>
<li><p>大一：鈴鐺社。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp參與學伴計畫。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp參與校慶啦啦競賽。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp系上演說第二。</p></li>
<li><p>大二：統資系羽冠軍。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp系上演說第一。</p></li></ul></font></p></td>
 </tr>
  
  <tr>
  <td bgcolor="#800080" colspan=3><p align="center"><font size=5 face="微軟正黑體" color="#FFFFFF">
<b><p align="center"><打工經歷></p></b>
<ul>
<li><p>長期：三峽府城小吃店。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp銘傳大學總務組。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp銘傳大學二餐八方雲集。</p></li>
<li><p>短期：北美國際貿易公司，發信員。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp緯創公司家庭日，場設場復及關主。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp木棉花寒暑期漫博工作人員。</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp小羅家族臨演人員。</p></li></ul></font></p></td>
 </tr>
  </table>
  <br>
  
  <style type="text/css">* {cursor: url(http://cur.cursors-4u.net/toons/too-11/too1007.ani), url(http://cur.cursors-4u.net/toons/too-11/too1007.png), auto !important;}</style>
<a href="http://www.cursors-4u.com/cursor/2011/11/30/clownfish-finding-nemo-swimming.html" target="_blank" title="Clownfish - Finding Nemo Swimming">
<img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Clownfish - Finding Nemo Swimming" style="position:absolute; top: 0px; right: 0px;" /></a>
  
  <!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<FORM align="right"> <p align="center"/p><font size=8 face="微軟正黑體"/font>
								<a href="#top">TOP</a>
							</ul>
						</div>
					</footer>
  
  </body>
 </html>